@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Base button */
.btn {
  padding: 12px 20px;
  border-radius: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

/* Primary */
.btn-primary {
  background: linear-gradient(135deg, #6a9dd1, #155eb1);
  color: #fff;
  box-shadow: 0 6px 18px rgba(99, 102, 241, 0.35);
  border-radius: 4px;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.45);
}
.btn-secondry {
  background: linear-gradient(135deg, #6a9dd1, #155eb1);
  color: #fff;
  box-shadow: 0 6px 18px rgba(99, 102, 241, 0.35);
  border-radius: 16px;

}

.btn-secondry:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(99, 102, 241, 0.45);
}

